.App {
  text-align: center;
  background-attachment: fixed;
}

.centerHeader{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 10vh;
  background-color: lightsteelblue;
  align-content: center;
}

.navlist{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: lightsteelblue;
  width: 100%;
  list-style-type: none;
  justify-content: space-between;
}

.navitem{
  margin: auto;
  padding: 14px 25px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.modalButton{
  position: absolute;
  bottom: 0;
  margin: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profilePages {
  background-color: white;
}

.points {
  display: table-cell;
}

.points table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 2px;
}
.points th, td {
  padding: 5px;
}
.points th {
  text-align: left;
}
