.accordion-section {
  display: flex;
  flex-direction: column;
}

.accordion-title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  background-color: rgba(125, 182, 216, 0.945);
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

.accordion-title:hover,
.active {
  background-color: #ccc;
}

.accordion-icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

.rotate {
  transform: rotate(90deg);
}

.accordion-content {
  background-color: rgb(29, 95, 107);
  overflow: hidden;
  transition: 600px 0.2s ease;
}
