<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>Nearby Trails</title>
<link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
    <form id="nearbyTrails" method="get">
      <fieldset>

        <legend>
          Get Data:
        </legend>

	<label>

          Zip Code:
          <input type="text" name="zip_weather" id="zip_input" size="30" maxlength="100">
        </label>
	<br /></p>
        
	<button id="nearbyTrails" type="submit">Submit</button>

      </fieldset>
    </form>


</body>

<body>

<div class ="transbox">

      <h2>Nearby Trails</h2>
	<h2> Total Trails <span id="totalTrails"></span> </h2>

    </div>
</body>

<body>
<div class ="transbox">

	<h2><span id="name"></span> </h2>

      <ul>
        <li><span>Location: </span><span id="location"></span></li>
        <li><span>Distance: </span><span id="distance"></span></li>
        <li><span>Difficulty: </span><span id="difficulty"></span></li>
        <li><span>Trailhead: (</span><span id="latitude"></span> <span>, </span> <span id="longitude"></span><span>)</span></li>
        <li><span>Description: </span><span id="description"></span></li>
      </ul>

<button id="Equipment" type="submit">Equipment</button><button id="Navigate" type="submit">Directions</button>


    </div>
</body>


<body>
<div class ="transbox">
	<h2><span id="name1"></span> </h2>

      <ul>
        <li><span>Location: </span><span id="location1"></span></li>
        <li><span>Distance: </span><span id="distance1"></span></li>
        <li><span>Difficulty: </span><span id="difficulty1"></span></li>
        <li><span>Trailhead: (</span><span id="latitude1"></span> <span>, </span> <span id="longitude1"></span><span>)</span></li>
        <li><span>Description: </span><span id="description1"></span></li>
      </ul>

<button id="Equipment" type="submit">Equipment</button><button id="Navigate" type="submit">Directions</button>
    </div>
</body>

<body>
<div class ="transbox">
	<h2><span id="name2"></span> </h2>

      <ul>
        <li><span>Location: </span><span id="location2"></span></li>
        <li><span>Distance: </span><span id="distance2"></span></li>
        <li><span>Difficulty: </span><span id="difficulty2"></span></li>
        <li><span>Trailhead: (</span><span id="latitude2"></span> <span>, </span> <span id="longitude2"></span><span>)</span></li>
        <li><span>Description: </span><span id="description2"></span></li>
      </ul>

<button id="Equipment" type="submit">Equipment</button><button id="Navigate" type="submit">Directions</button>
    </div>
</body>

<body>
<div class ="transbox">
	<h2><span id="name3"></span> </h2>

      <ul>
        <li><span>Location: </span><span id="location3"></span></li>
        <li><span>Distance: </span><span id="distance3"></span></li>
        <li><span>Difficulty: </span><span id="difficulty3"></span></li>
        <li><span>Trailhead: (</span><span id="latitude3"></span> <span>, </span> <span id="longitude3"></span><span>)</span></li>
        <li><span>Description: </span><span id="description3"></span></li>
      </ul>

<button id="Equipment" type="submit">Equipment</button><button id="Navigate" type="submit">Directions</button>
    </div>
</body>

<body>
<div class ="transbox">
	<h2><span id="name4"></span> </h2>

      <ul>
        <li><span>Location: </span><span id="location4"></span></li>
        <li><span>Distance: </span><span id="distance4"></span></li>
        <li><span>Difficulty: </span><span id="difficulty4"></span></li>
        <li><span>Trailhead: (</span><span id="latitude4"></span> <span>, </span> <span id="longitude4"></span><span>)</span></li>
        <li><span>Description: </span><span id="description4"></span></li>
      </ul>

<button id="Equipment" type="submit">Equipment</button><button id="Navigate" type="submit">Directions</button>
    </div>
</body>


<body>
<div class ="transbox">
	<h2><span id="name5"></span> </h2>

      <ul>
        <li><span>Location: </span><span id="location5"></span></li>
        <li><span>Distance: </span><span id="distance5"></span></li>
        <li><span>Difficulty: </span><span id="difficulty5"></span></li>
        <li><span>Trailhead: (</span><span id="latitude5"></span> <span>, </span> <span id="longitude5"></span><span>)</span></li>
        <li><span>Description: </span><span id="description5"></span></li>
      </ul>

<button id="Equipment" type="submit">Equipment</button><button id="Navigate" type="submit">Directions</button>
    </div>
</body>


<body>
<div class ="transbox">
	<h2><span id="name6"></span> </h2>

      <ul>
        <li><span>Location: </span><span id="location6"></span></li>
        <li><span>Distance: </span><span id="distance6"></span></li>
        <li><span>Difficulty: </span><span id="difficulty6"></span></li>
        <li><span>Trailhead: (</span><span id="latitude6"></span> <span>, </span> <span id="longitude6"></span><span>)</span></li>
        <li><span>Description: </span><span id="description6"></span></li>
      </ul>

<button id="Equipment" type="submit">Equipment</button><button id="Navigate" type="submit">Directions</button>
    </div>
</body>


<body>
<div class ="transbox">
	<h2><span id="name7"></span> </h2>

      <ul>
        <li><span>Location: </span><span id="location7"></span></li>
        <li><span>Distance: </span><span id="distance7"></span></li>
        <li><span>Difficulty: </span><span id="difficulty7"></span></li>
        <li><span>Trailhead: (</span><span id="latitude7"></span> <span>, </span> <span id="longitude7"></span><span>)</span></li>
        <li><span>Description: </span><span id="description7"></span></li>
      </ul>

<button id="Equipment" type="submit">Equipment</button><button id="Navigate" type="submit">Directions</button>
    </div>
</body>


<body>
<div class ="transbox">
	<h2><span id="name8"></span> </h2>

      <ul>
        <li><span>Location: </span><span id="location8"></span></li>
        <li><span>Distance: </span><span id="distance8"></span></li>
        <li><span>Difficulty: </span><span id="difficulty8"></span></li>
        <li><span>Trailhead: (</span><span id="latitude8"></span> <span>, </span> <span id="longitude8"></span><span>)</span></li>
        <li><span>Description: </span><span id="description8"></span></li>
      </ul>

<button id="Equipment" type="submit">Equipment</button><button id="Navigate" type="submit">Directions</button>
    </div>
</body>


<body>
<div class ="transbox">
	<h2><span id="name9"></span> </h2>

      <ul>
        <li><span>Location: </span><span id="location9"></span></li>
        <li><span>Distance: </span><span id="distance9"></span></li>
        <li><span>Difficulty: </span><span id="difficulty9"></span></li>
        <li><span>Trailhead: (</span><span id="latitude9"></span> <span>, </span> <span id="longitude9"></span><span>)</span></li>
        <li><span>Description: </span><span id="description9"></span></li>
      </ul>

<button id="Equipment" type="submit">Equipment</button><button id="Navigate" type="submit">Directions</button>
    </div>
</body>













<body>


    <script src="nearbyTrails3.js"></script>
    <script src="LatLong.js"></script>



</body>




</html>
