
/*
body {
    background-image: url("https://wallpaperfx.com/view_image/green-mountains-1920x1080-wallpaper-3104.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
  
    background-size: cover;
    height: 100%;
  }
  */

.TrailCard img:hover {
  opacity: .9;
}

.TrailCard {
  background-color: #ffffff;
  padding: 1rem;
  margin-bottom: 1rem;
  opacity: 0.6;
  
  display: flex;


align-items: center;
}

.trailHeader {
  background-color: lightgrey;
  padding-top: 25px;
  padding-bottom: 25px;

}

.nearbyInput {
  font-weight: 600;

}

.nearbyTrailsButton {
  background-color: lightsteelblue;
  padding: 2px 2px 2px 2px;
  font-size: medium;

}


@media (max-width: 320px) {
.flexcontainer {
display: block;
}
}