body {
    background-image: url("https://wallpaperfx.com/view_image/green-mountains-1920x1080-wallpaper-3104.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
  
    background-size: cover;
    height: 100%;
  }