<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nearby Trails Component</title>
    <link rel="stylesheet" type="text/css" href="NearbyTrailsStyle.css">
    <style>
        .user {
            background-color: #ffffff;
            padding: 1rem;
            margin-bottom: 1rem;
            opacity: 0.6;
            
            display: flex;
  align-items: center;
}
@media (max-width: 320px) {
  .flexcontainer {
    display: block;
  }
}
        }
    </style>
</head>

<body>
    <form id="nearbyTrails" method="get">
      <fieldset>

        <legend>
          Get Data:
        </legend>
	<label>
          Zip Code:
          <input type="text" name="zipCode" id="zip_input" size="30" maxlength="100">
        </label>
        <span id="weatherLat"></span> <span>, </span> <span id="weatherLong"></span>
	<br /></p>
	<button id="nearbyTrails" type="submit">Submit</button>
      </fieldset>
    </form>
</body>

<body>
    <div id="app"></div>
</body>


<script src="getLocation.js"></script>
<script src="NearbyTrails.js"></script>


</html>